.Team{
    width: 250px;
    margin: 20px;
    padding: 20px;
    color: #072e27;
    text-align: center;
    background-color: #fbfbfb;
    box-shadow: 5px 5px 10px #292d33,;
}

.team-images{
    width: 100px;
}

.Button{
    border: none;
    border-radius: 10px 0px 10px 0px;
    background-color: #b1b1b3;
    box-shadow: 5px 5px 20px #e7e7e7;
    cursor: pointer;
    color: white;
    font-size: large;
    width: 150px;
    height: 40px;
}